kicad/Misc-Front-Module/.DS_Store
kicad/Front-Module-Template/.DS_Store
kicad/Fader-Front-Module/.DS_Store
kicad/Deck-Switcher-Front-Module/.DS_Store
kicad/.DS_Store
firmware/.DS_Store
CAD/Wooden Parts/.DS_Store
CAD/Sheet Metal (2mm Alu)/Screen-Mount/.DS_Store
CAD/Sheet Metal (2mm Alu)/.DS_Store
CAD/3D Printed/Front Modules/.DS_Store
CAD/3D Printed/.DS_Store
CAD/.DS_Store
.DS_Store
